<h1>Hello!</h1>


<table>
	<tr>
		<th>日時</th>
		<th>気温</th>
		<th>湿度</th>
		<th>照度</th>
		<th>水分</th>
	</tr>
	<% @data.each do |data| %>
	<tr>
		<td><%= data.measured_at %></td>
		<td><%= data.temperature %></td>
		<td><%= data.humidity %></td>
		<td><%= data.illuminance %></td>
		<td><%= data.moisture %></td>
	</tr>
	<% end %>
</table>